{% extends 'bill_track_ajax/base.html' %} {% block body %}

<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Bill Track Ajax</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <form action="{% url 'bill_track_ajax:create_bill' %}" method="POST">
        <div class="form-group row p-3">
            <input type="text" class="col-6 mr-2" id="html_description" name="html_description" placeholder="Description">
            <input type="text" class="col-2 mr-2" id="html_amount" name="html_amount" placeholder="Amount">
            <button class="btn btn-primary">Add</button>

        </div>
    </form>
    <hr>
    <div class="row copy-me mb-2">
        <div class="col-6 add-desc" contenteditable="true">bill.description</div>
        <div class="col-2 add-amt" contenteditable="true">bill.amount</div>
        <div class="col-4">
            <a class="btn btn-danger btn-del">Delete</a>
        </div>
    </div>
    <div class="allbills"></div>
</div>

{% endblock %} {% block scripts %}

<script>
    $(document).ready(function () {
        console.log("DOCUMENT IS READY!");

        $("button").click(function (event) {
            event.preventDefault()
            $.ajax({
                beforeSend:setCsrfToken,
                type: "POST",
                url: $("form").attr("action"),
                data: {
                    "html_description": $("input[name=html_description]").val(),
                    "html_amount": $("input[name=html_amount]").val()
                },
                success: function (response) {
                    console.log(response)
                    let desc = response["description"]
                    let amt = response["amount"]
                    let delete_url = response["delete_url"]
                    let update_url = response["update_url"]
                    let bill = $(".copy-me").clone()
                    bill.removeClass("copy-me")
                    bill.find(".add-desc").text(desc)
                    if (Number(amt)) {
                        bill.find(".add-amt").text(amt);
                    }else{ bill.find(".add-amt").text(0);
                    }
                    $(".allbills").append(bill)
                    bill.find(".btn-del").click(function (event) {
                        $.ajax({
                            beforeSend:setCsrfToken,
                            type: "POST",
                            url: delete_url,
                            data: {"key": "value"
                            },
                            success: function (response) {
                                bill.remove()
                            }
                        });
                    });
                    bill.find(".add-desc, .add-amt").keypress(function (event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            console.log("blah")
                            console.log($(this).text())
                            // $.ajax({
                            //     beforeSend:setCsrfToken,
                            //     type: "POST",
                            //     url: update_url,
                            //     data: {
                            //         "html_description": $("input[name=html_description]").val(),
                            //         "html_amount": $("input[name=html_amount]").val(),
                            //     },
                            //     success: function (response) {
                            //         console.log(response)
                            //     }
                            // })
                        }
                    })
                },
                error: function(response) {
                    console.log(response)
                }
            });
            // event.preventDefault();
            // let desc = $("#html_description").val()
            // let amt = $("#html_amount").val()
            // let bill = $(".copy-me").clone()
            // bill.removeClass("copy-me")
            // bill.find(".add-desc").text(desc)
            // if (Number(amt)) {
            //     bill.find(".add-amt").text(amt);
            // }else{ bill.find(".add-amt").text(0);
            // }
            // $(".allbills").append(bill)
            // bill.find(".btn-del").click(function (event){
            //     bill.remove();
            // });
            // bill.find(".add-desc, .add-amt").keypress(function (event) {
            //     if (event.keyCode === 13) {
            //         event.preventDefault();
            //         if (Number(bill.find(".add-amt").text())) {
            //             $(this).blur();
            //         }else{
            //             bill.find(".add-amt").text(0)
            //             $(this).blur();
            //         }
            //     }
            // });
        });
    });
</script> {% endblock %}